html{background: #f7f5f5 url(../images/paper.jpg) repeat;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing: 0;}fieldset,img{border: 0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border: 0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;overflow:hidden;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit; resize: none;outline:none;}legend{color:#000;}
body {font-family:"helvetica neue",arial,sans-serif;font-size:10px;color:#211922;}table{font-size:inherit;}pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}em{font-style:italic;}strong{font-weight:bold;}


h1 {margin: 32px 0 11px; font-size: 3em;}
h2 {padding: 0 0 8px; font-size: 2.5em;}
h1, h2 {letter-spacing: -0.0125em; font-weight: bold;}
p {margin: 0 0 .8em; line-height: 1.35em;}
a {font-weight: bold; color: #221919; text-decoration: none; outline: none;}
a:hover {color: #cb2027; text-decoration: underline;}
textarea, input {padding: 5px; line-height: 1em; color: #8c7e7e; background: #fcf9f9; border: 1px solid; border-color: #ddd #e1dfdf #d1cdcd; box-shadow: inset 0 0 2px rgba(255,255,255,0.75); -moz-box-shadow: inset 0 0 2px rgba(255,255,255,0.75); -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.75);}
textarea:focus, input:focus {background-color: #fff; box-shadow: inset 0 1px 1px rgba(34,29,29,0.1); -moz-box-shadow: inset 0 1px 1px rgba(34,29,29,0.1); -webkit-box-shadow: inset 0 1px 1px rgba(34,29,29,0.1);}

/* REUSABLE STYLES
--------------------------------------------------------------------------------------- */
.hidden {display: none !important;}
.highlighted {color: #211922; background-color: #ff0 !important;}
.error {font-size: 18px; font-weight: 300; color: #f00 !important;}
.clear {clear: both !important;}
.noFloat {float: none !important;}
.floatRight {float: right !important;}
.floatLeft {float: left !important;}
.noBorder {border-width: 0 !important;}
.noBorderTop {border-top-width: 0 !important;}
.noBorderRight {border-right-width: 0 !important;}
.noBorderBottom {border-bottom-width: 0 !important;}
.noBorderLeft {border-left-width: 0 !important;}
.noMargin {margin: 0 !important;}
.noMarginTop {margin-top: 0 !important;}
.noMarginRight {margin-right: 0 !important;}
.noMarginBottom {margin-bottom: 0 !important;}
.noMarginLeft {margin-left: 0 !important;}
.fixed {position: fixed !important;}
.invisible {visibility: hidden !important;}
.red {color: red !important;}
.noscroll {overflow: hidden !important;}
.noscroll.extraScroll {margin-right: 15px;} /* Extra space on the right for FireFox */
.clearfix:after {clear: both; display: block; height: 0; content: " "; visibility: hidden;}

/* CONTAINERS
--------------------------------------------------------------------------------------- */
.LiquidContainer {margin: 0 auto;}
.FixedContainer {width: 852px; margin: 0 auto;}
.FixedContainer .StaticForm {margin-top: 96px;}

#wrapper {position: relative; width: auto; padding:10px 40px;min-width: 933px; margin: 0 auto; border: none;}
.BoardLayout {opacity: 100;}

#ColumnContainer {position: relative; min-height: 500px; margin: 60px auto 0;}
#ContextBar + #ColumnContainer {margin-top: 15px;}

.WhiteContainer {position: relative; margin: 76px auto 32px; padding: 0 18px 10px; background-color: #fff; box-shadow: 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);}
.WhiteContainer h2 {padding: 20px 0 15px; font-size: 32px; line-height: 43px;}
.WhiteContainer:after {clear: both; display: block; height: 0; content: " "; visibility: hidden;}


/* LIQUID HEADER
--------------------------------------------------------------------------------------- */
#Header {position: fixed; z-index: 103; top: 0; right: 0; left: 0; height: 44px; background-color: #faf7f7; box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);}
/* For when there is a second bar under the header */
#CategoriesBarPage #Header {position: relative; z-index: 105; box-shadow: 0 0 transparent; -moz-box-shadow: 0 0 transparent; -webkit-box-shadow: 0 0 transparent;}

#Search {float: left; margin: 8px 0 0;}
#Search input {float: left; width: 183px; background-color: #faf7f7; border: 1px solid; border-color: #c2c0c0 #cccaca #d1cfcf; box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05); -moz-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05); -webkit-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05); font-size: 13px; line-height: 1.3;}
#Search input:focus {background-color: #fff; box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.1); -moz-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.1); -webkit-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.1);}
#Search a {float: left; margin-left: -1px; padding: 7px 7px 2px; min-height: 17px; border: 1px solid; border-color: #c2c0c0 #cccaca #d1cfcf; box-shadow: 0 1px rgba(255,255,255,0.9), inset 0 0 2px rgba(255,255,255,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.9), inset 0 0 2px rgba(255,255,255,0.75); -webkit-box-shadow: 0 1px rgba(255,255,255,0.9), inset 0 0 2px rgba(255,255,255,0.75);}
#Search a:active {box-shadow: inset 0 1px 1px rgba(34,29,29,0.15); -moz-box-shadow: inset 0 1px 1px rgba(34,29,29,0.15); -webkit-box-shadow: inset 0 1px 1px rgba(34,29,29,0.15);}

.HeaderContainer li {position: relative; display: inline; font-size: 13px;}
.HeaderContainer .nav {position: relative; display: inline-block; color: #524d4d; text-shadow: 0 1px rgba(255,255,255,1);}
.HeaderContainer .nav span {position: absolute; background-position: top center; background-repeat: no-repeat;}
.HeaderContainer .nav:hover span {background-position: center;}
.HeaderContainer .nav:active span {background-position: bottom center;}
.HeaderContainer li:hover .nav {color: #221919;}

.HeaderContainer li ul {position: absolute; display: none; width: 140px; background-color: #fff; border-top: 1px solid #cccaca; box-shadow: 0 2px 4px rgba(34,25,25,0.5); -moz-box-shadow: 0 2px 4px rgba(34,25,25,0.5); -webkit-box-shadow: 0 2px 4px rgba(34,25,25,0.5);}
.HeaderContainer li:hover ul {display: block;}
.HeaderContainer li ul li:first-child a {padding-top: 10px;}
.HeaderContainer li ul li:last-child a {padding-bottom: 10px;}
.HeaderContainer li ul a {display: block; padding: 5px 10px; text-align: left; font-weight: normal; color: #524d4d;}
.HeaderContainer li ul a:hover {color: #221919; text-decoration: none; background-color: #e1dfdf;}
.HeaderContainer li ul a:active {color: #fff; background-color: #cb2027;}

.HeaderContainer .beforeDivider a {padding-bottom: 10px;}
.HeaderContainer .divider a {padding-top: 10px; border-top: 1px solid #e1dfdf;}

/* Navigation Bar */
#Navigation {position: relative; margin-right:20px;float: right; z-index: 105;}
#Navigation ul {z-index: 105; top: 28px; left: 0;}
#Navigation .nav {height: 29px; padding: 15px 27px 0 14px;}
#Navigation .nav span {top: 20px; right: 14px; width: 7px; height: 6px; background-image: url(../images/DownArrowGray7.png);}
#Navigation .LoginNav {padding-right: 14px;}
#Navigation li:hover .nav {text-decoration: none; text-shadow: 0 1px rgba(255,255,255,0.3); background-color: #e1dfdf;}
#Navigation li:active .nav {color: #fff; text-shadow: 0 -1px rgba(34,25,25,0.3); background-color: #cb2027;}
#Navigation #UserNav .nav {padding-left: 38px;}
#Navigation #UserNav img {position: absolute; top: 12px; left: 10px; width: 22px; height: 22px; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 2px rgba(34,25,25,0.3);}
#Navigation #UserNav ul {left: auto; right: 0;}


/* PIN CELL
--------------------------------------------------------------------------------------- */
.pin {position: absolute; width: 192px; padding: 15px 15px 0; font-size: 11px; background-color: #fff; box-shadow: 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);}
.pin .PriceContainer {position: absolute; z-index: 2; top: -15px; left: -15px; width: 110px; height: 110px; overflow: hidden;}
.pin .price {position: absolute; z-index: 2; top: 19px; left: -28px; width: 125px; height: 22px; padding-top: 8px; text-align: center; font-size: 11px; color: #524d4d; background-color: #f2f0f0; overflow: hidden; -webkit-transform: rotate(-45deg); -moz-transform:  rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg);}
.pin .ImgLink {position: relative; }
.pin .ImgLink:hover {text-decoration: none;}
.pin .ImgLink img {max-width: 192px; opacity: 1; -webkit-transition: opacity 0.3s; }
.pin .ImgLink img.lazy { opacity: 0; }
.pin .PinImage { background-color: #f2f0f0; }
.pin .PinImageImg {min-height: 75px; background-color: #f2f0f0;}
.pin .video {position: absolute; z-index: 1; top: 50%; left: 50%; width: 50px; height: 50px; margin: -25px 0 0 -25px;}
.pin .description {margin: 10px 0 5px; overflow: hidden; word-wrap: break-word;}

/* BOARD CELL
--------------------------------------------------------------------------------------- */
.pinBoard {width: 222px !important; padding: 0 !important;}
  .pinBoard h3 {padding: 9px 15px 0; font-size: 13px; font-weight: 300; overflow: hidden;}
  .BoardLayout .pinBoard h3 {height: 16px;}
  .pinBoard .curatedBy {padding: 9px 15px 0; overflow: hidden;}
    .pinBoard .curatedBy img {float: left; width: 18px; height: 18px; margin-right: 4px;}
    .pinBoard .curatedBy p {float: left; width: 170px; margin: 2px 0 0; font-size: 11px; white-space: nowrap; overflow: hidden;}
  .pinBoard .link {display: block; height: 200px; background: url(../images/BoardBackground.png) 15px 9px no-repeat; padding: 9px 0 4px 15px; overflow: hidden;}
    .pinBoard .link img {float: left; width: 61px; height: 61px; margin: 0 4px 4px 0;}
    .pinBoard.domainPins .link {background: url(../images/BoardBackground_forDomainPins.png) 15px 9px no-repeat; height: auto; margin-bottom: 8px;}
  .pinBoard .likesComments {margin: 0; padding: 0 15px 10px; background-color: #fff;}
  .pinBoard .followBoard {padding: 0 15px 11px; text-align: center;}
    .pinBoard .followBoard .Button {display: block; padding: 0.5em 0.825em;}
    .pinBoard .followBoard .BoardMeta {float: left; width: auto; margin-top: 8px; font-size: 11px;}


/* FORMS
--------------------------------------------------------------------------------------- */
.Form li {display: block; margin-bottom: 18px; font-size: 21px; font-weight: 300;}
  .Form input[type=text],
  .Form input[type=password],
  .Form textarea {display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 6px 12px; font-size: 18px; font-weight: 300; line-height: 1.4; color: #221919; background: #fff; border: 1px solid #a4a2a2; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -moz-transition: all 0.08s ease-in-out; -webkit-transition: all 0.08s ease-in-out;}
  .Form textarea {min-height: 90px;}
  .Form label {display: inline-block; line-height: 1.4em; font-size: 18px;}
  .Form input[type=radio] {float: left; margin-right: 8px; border: none;}
  .Form .Right ul.pinability {float: left; margin-bottom: 10px;}
  .Form .Right ul.pinability li {float: left; clear: none; margin-top: 5px; width: auto;}
  .Form .Right ul li label span {font-size: 18px; float: left;}
  .Form .Right ul li label input[type=radio] {margin-top: 3px;}
  .Form .Right ul li label span {padding-left: 15px; height: 19px; line-height: 1.1; margin-right: 30px;}
  .Form .Right label#radio { padding-top: 1px; }
  .Form .Right label#radio ul { margin-bottom: 10px; padding-left: 1px; overflow: hidden;}
  .Form .Right label#radio ul li { clear: none; display: inline; width: 150px; padding: 0; }
  .Form .Right label#radio ul li label { padding: 0; }

  /* Embed Pin HTML */
  textarea#EmbedHTMLCode {height: 7.5em;}

  /* Input Focus */
  .Form input[type=text]:focus,
  .Form input[type=password]:focus,
  .Form textarea:focus,
  .Form input[type=text].error,
  .Form input[type=password].error,
  .Form textarea.error {border-color: #930; box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(235,82,82,0.35);}

  /* Validation */
  .Form li .ValidationIcon {position: relative; top: 1px; left: 3px; display: inline-block; width: 11px; height: 11px;}
  .Form li .green {color: green;}
  .Form li .green .ValidationIcon {background-position: 0 0;}
  .Form li .red {color: #cb2027;}
  .Form li .red .ValidationIcon {background-position: -11px 0;}
  .Form li .default {font-weight: normal; color: #ccc;}

form.AuthForm {width: 260px; margin: 0 auto;}
form.AuthForm input {min-width: 260px !important;}
form.AuthForm li {border: none !important;}

/* Fancy Form */
.FancyForm li {position: relative;}
  .FancyForm input[type=text],
  .FancyForm input[type=password],
  .FancyForm textarea {position: relative; z-index: 3; display: block; width: 100%; background: transparent; border: 1px solid #a4a2a2; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -webkit-transition: all 0.08s ease-in-out; -moz-transition: all 0.08s ease-in-out;}
  .FancyForm textarea {min-height: 3.95em; line-height: 1.3;}
  .FancyForm #Boards input {width: 410px; padding: 13px 39px 8px 14px}
  .FancyForm label {position: absolute; z-index: 2; top: 8px; left: 13px; display: block; color: #d7d7d7; -moz-user-select: none; -webkit-user-select: none; -moz-transition: all 0.16s ease-in-out; -webkit-transition: all 0.16s ease-in-out;}
  .FancyForm .fff {position: absolute; z-index: 1; top: 0; right: 0; left: 3px; bottom: 0; background-color: #fff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
  .FancyForm .helper {position: absolute; right: -194px; bottom: 10px; width: 180px; font-size: 13px; line-height: 15px;}

  /* Input Focus Labels */
  .FancyForm input[type=text]:focus + label,
  .FancyForm input[type=password]:focus + label,
  .FancyForm textarea:focus + label {opacity: .5; filter: alpha(opacity="50");}

  /* Input Entry */
  .FancyForm .val label {left: -9999px; opacity: 0 !important; filter: alpha(opacity="0") !important;}


/* Static Form */
.StaticForm {margin: 36px 0; font-size: 13px;}
  .StaticForm h3 {padding: 0 0 18px; font-size: 28px; line-height: 1.1em; font-weight: bold; color: #524d4d; text-shadow: 0 1px rgba(255,255,255,0.9); border-bottom: 3px double rgba(34,25,25,0.1);}
  .StaticForm h3 a {font-weight: 300;}
  .StaticForm li {clear: both; margin: 0; padding: 15px 0; color: #8c7e7e; text-shadow: 0 1px rgba(255,255,255,0.9); border-top: 1px solid rgba(255,255,255,0.7); border-bottom: 1px solid rgba(34,25,25,0.1); float: left; width: 100%;} /* Float and Width for IE */
  .StaticForm li:last-child {border-bottom: 3px double rgba(34,25,25,0.1);}
  .StaticForm li:after {clear: both; display: block; height: 0; content: " "; visibility: hidden;}
  .StaticForm label {float: left; width: 150px; padding-top: 7px; vertical-align: top;}
  .StaticForm label.radio { padding-top: 24px; } /* If the list item holds a radio, it needs more spacing to be consistent */
  .StaticForm .ButtonLabel {padding-top: 15px;}
  .StaticForm .Left {width: 150px; float: left;}
  .StaticForm .Right {float: left;}
  .StaticForm .Right li {border-width: 0;}
  .StaticForm .Right label {float: none; display: block; width: auto; padding: 4px 0; font-size: 18px; border-width: 0; cursor: pointer;}
  .StaticForm .Right label.large { font-size: 21px; margin-bottom: .8em; }
  .StaticForm .NoInput {padding: 6px 0;}
  .StaticForm input[type=text],
  .StaticForm input[type=password],
  .StaticForm textarea {min-width: 375px;}
  .StaticForm input[type=checkbox] {vertical-align: 25%;}
  .StaticForm .help_text {display: inline-block; margin-top: 5px; color: #8C7e7e; font-size: 13px; max-width: 199px; margin-left: 10px;}
  .StaticForm .error {font-size: 13px; float: left; clear: both; margin-top: 5px; color: #cb2027;}
  .StaticForm .Submit {padding-top: 24px; padding-left: 150px; border-top: 1px solid rgba(255,255,255,0.7); float: left; margin-bottom: 20px;} /* Float for IE */
  .StaticForm ul.pinability {border-top: none;}


  #DeleteForm {display: none; background: #FFFFFF; width: 100%; padding: 20px; min-height: 100px; max-width: 610px; box-shadow: 0px 2px 1px rgba(100, 100, 100, 0.5);}
  #DeleteForm p {font-size: 14px; line-height: 1.5; margin-bottom: 0;}
  #DeleteForm p strong {color: #cb2027;}
  #DeleteForm #DeleteDecision {float: left; margin-bottom: 20px; width: 100%;}
  #DeleteForm #DeleteDecision input {float: left; margin-top: 6px;}
  #DeleteForm #DeleteDecision label {float: left; margin-left: 5px; font-size: 14px; font-weight: bold;}
  #DeleteForm #ChangeOfHeart {font-size: 14px; color: #8C7E7E; margin-left: 20px;}


/* PROFILE EDIT AND BOARD EDIT AND PIN EDIT
--------------------------------------------------------------------------------------- */
#userProfile #id_img {display: none;}
#userProfile .current_avatar_wrapper {position: relative; padding: 12px; min-width: 168px; min-height: 168px; float: left; background: #FFFFFF; box-shadow: 0 1px 1px rgba(34,25,25,0.4); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.4);}
#userProfile .current_avatar {max-width: 250px; max-height: 250px; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;}



.Button {position: relative; display: inline-block; padding: .45em .825em .45em; text-align: center; line-height: 1em; border: 1px solid transparent; border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em; -moz-transition-property: color, -moz-box-shadow, text-shadow; -moz-transition-duration: .05s; -moz-transition-timing-function: ease-in-out; -webkit-transition-property: color, -webkit-box-shadow, text-shadow; -webkit-transition-duration: .05s; -webkit-transition-timing-function: ease-in-out; box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); cursor: pointer;}
.Button:hover {text-decoration: none;}
.Button strong {position: relative; z-index: 2;}

.Button span {position: absolute; z-index: 1; top: -1px; right: -1px; bottom: -1px; left: -1px; display: block; border: 1px solid; opacity: 1; border-radius: .3em; -moz-border-radius: .3em; -webkit-border-radius: .3em; box-shadow: inset 0 1px rgba(255,255,255,0.35); -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35); -moz-transition-property: opacity; -moz-transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-property: opacity; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: ease-in-out;}
.Button:hover span {-moz-transition-property: opacity; -moz-transition-duration: 0.05s; -moz-transition-timing-function: linear; -webkit-transition-property: opacity; -webkit-transition-duration: 0.05s; -webkit-transition-timing-function: linear;}
.Button:active span {-moz-transition: none; -webkit-transition: none;}

.Button11,
.Button11 span {font-size: 11px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.Button13,
.Button13 span {font-size: 13px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

.Button18,
.Button18 span {font-size: 18px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}

.Button24,
.Button24 span {font-size: 24px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}

/* Red Button */
.RedButton {color: #fcf9f9; text-shadow: 0 -1px rgba(34,25,25,0.5);}
.RedButton:hover {color: #fff; text-shadow: 0 -1px rgba(34,25,25,0.3);}
.RedButton:active {color: #f2f0f0; text-shadow: 0 -1px rgba(34,25,25,0.6);}

.RedButton span {border-color: #910101; background-color: #d43638; background: -moz-linear-gradient(center top, #eb5367, #e04751 50%, #de404a 50%, #d43638); background: -o-linear-gradient(top left, #eb5367, #e04751 50%, #de404a 50%, #d43638); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb5367), to(#d43638), color-stop(.5,#e04751),color-stop(.5,#de404a)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5367', endColorstr='#d43638');}
.RedButton:hover span {border-color: #ad0303; background-color: #d63e40; background: -moz-linear-gradient(center top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); background: -o-linear-gradient(top left, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea5d6e), to(#d63e40), color-stop(.5,#e3535d),color-stop(.5,#e04a54)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5d6e', endColorstr='#d63e40');}
.RedButton:active span {border-color: #510000; background-color: #c83031; background: -moz-linear-gradient(center top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); background: -o-linear-gradient(top left, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5414b), to(#c83031), color-stop(.5,#d5414b),color-stop(.5,#d33d46)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b5d', endColorstr='#c83031');}

.RedButton.Button11:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(235,82,82,0.25);}
.RedButton.Button11:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35);}

.RedButton.Button13:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25);}
.RedButton.Button13:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35);}

.RedButton.Button18:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25);}
.RedButton.Button18:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35);}

.RedButton.Button24:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25);}
.RedButton.Button24:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35);}

/* White Button */
.WhiteButton {color: #524d4d; text-shadow: 0 1px rgba(255,255,255,0.9);}
.WhiteButton:hover {color: #666060; text-shadow: 0 1px rgba(255,255,255,1);}
.WhiteButton:active {color: #454141; text-shadow: 0 1px rgba(255,255,255,0.8);}

.WhiteButton span {border-color: #bbb; background-color: #f0eded; background: -moz-linear-gradient(center top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded); background: -o-linear-gradient(top left, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfafb), to(#f0eded), color-stop(.5,#f9f7f7),color-stop(.5,#f6f3f4)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');}
.WhiteButton:hover span {border-color: #c3c3c3; background-color: #f2f0f0; background: -moz-linear-gradient(center top, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0); background: -o-linear-gradient(top left, #fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfcfc), to(#f2f0f0), color-stop(.5,#fbf9f9),color-stop(.5,#f7f5f6)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfc', endColorstr='#f2f0f0');}
.WhiteButton:active span {border-color: #b7b7b7; background-color: #ebe8e8; background: -moz-linear-gradient(center top, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8); background: -o-linear-gradient(top left, #f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f4f5), to(#ebe8e8), color-stop(.5,#f3f0f0),color-stop(.5,#f1eeef)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f4f5', endColorstr='#ebe8e8');}

.WhiteButton.Button11:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(232,230,230,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(232,230,230,0.75); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(232,230,230,0.75);}
.WhiteButton.Button11:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(232,230,230,0.5); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5);}

.WhiteButton.Button13:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(232,230,230,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(232,230,230,0.75); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(232,230,230,0.75);}
.WhiteButton.Button13:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(232,230,230,0.5);}

.WhiteButton.Button18:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(232,230,230,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(232,230,230,0.75); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(232,230,230,0.75);}
.WhiteButton.Button18:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(232,230,230,0.5); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(232,230,230,0.5);}

.WhiteButton.Button24:hover span {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(232,230,230,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(232,230,230,0.75); -webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(232,230,230,0.75);}
.WhiteButton.Button24:active span {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(232,230,230,0.5); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(232,230,230,0.5); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(232,230,230,0.5);}


#noteList{
	display:block;
	margin-left:50px;
}

#noteList li{
	width:222px;
	display:inline-block;
	margin:0 15px;
}

#noteList pinBoard{
	position:static;
}
